:root {
  --font-family: Arial, sans-serif;
}

@property --line-height {
  syntax: "<number>";
  inherits: true;
  initial-value: 1.5;
}

@property --color-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: #3387eb;
}

@property --color-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: #2ecc71;
}

@property --color-background {
  syntax: "<color>";
  inherits: true;
  initial-value: #01071f;
}

@property --color-text {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}
@property --color-border {
  syntax: "<color>";
  inherits: true;
  initial-value: #1a4f73;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-background);
  height: 300vh;
}

header {
  display: flex;
  height: 10svh;
  font-size: 1.2em;
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-background);
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.main-nav ul li {
  margin-right: 50px;
  align-items: center;
}
.main-nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}
.main-nav ul li a:hover {
  color: var(--color-primary);
}

.main-nav ul li img {
  width: 90px;
  height: 60px;
}

.secondary-nav {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: right;
}

.secondary-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.secondary-nav ul li {
  margin-right: 20px;
  align-items: center;
  text-align: right;
}
.secondary-nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.secondary-nav ul li a:hover {
  color: var(--color-primary);
}

.secondary-nav ul li select {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(90svh - 10px);
  text-align: center;
  color: var(--color-text);
  overflow: hidden;
  /* background-image: url(/assets/imgs/polkadot.png); */
}

.hl-hero-text {
  color: var(--color-primary);
  font-weight: bold;
}

.hero h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: var(--line-height);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero p {
  font-size: 1.5em;
  margin: 20px 0;
  padding: 0;
  line-height: var(--line-height);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero button {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.hero button:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.floating-img {
  position: absolute;
  width: 500px;
  transition: transform 0.1s ease-out;
  will-change: transform;
  z-index: -1;
}
.floating-img:hover {
  transform: scale(1.1);
}
.floating-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.floating-img img:hover {
  transform: scale(1.05);
}

.img1 {
  top: 20vh;
  left: 30vw;
}
.img2 {
  top: 50vh;
  left: 60vw;
}
.img3 {
  top: 70vh;
  left: 20vw;
}
